@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg bg-cover bg-anim-1"></div>

<div class="glass-box">

<h1>@ViewData["Title"]</h1>

<p>This Web App collects the email of each user and the password used for their login.</p>
<p>The Demo does not share this data with third parties.</p>

</div>