@{
    ViewData["Title"] = "Rules";
}

<div class="bg bg-cover bg-anim-1"></div>

<div class="flex-row flex-wrap fill-v">

    <div class="text-centered glass-box flex-grow flex-column">
        <h1>@ViewData["Title"]</h1>

        <p>Bellow are the rules of this voting web app's demo.</p>

        <ol>
            <li>A user can register into the app by providing an email address.</li>
            <li>All registered users can view the voting list.</li>
            <li>The voting list is a simple list of users. A user can choose to add herself/himself on the voting list – become a candidate.</li>
            <li>A user is allowed to take herself/himself off the voting list.</li>
            <li>A user cannot vote for oneself.</li>
            <li>A candidate cannot vote for anyone.</li>
            <li>A user can only vote once per candidate.</li>
            <li>A user can vote for a maximum of two candidates.</li>
            <li>A user can change her/his vote anytime.</li>
        </ol>

    </div>

</div>